@charset "utf-8";

.btn--cta {
  padding: 1em 4em;
  margin-top: 1em;

  background-color: #fff;
  color: var(--c-dark-text);
  text-transform: uppercase;
  font-size: var(--fs-small);
  letter-spacing: 2px;

  border-radius: 5px;
}

.btn {
  padding: 0.5em 1.5em;

  text-transform: uppercase;
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
  letter-spacing: 2px;

  border: var(--border);
  border-radius: 10px;
}

.btn_gameType {
  margin-left: 2em;
}
