@charset 'utf-8';

.footer {
  width: 80%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--c-dark-text);

  margin-top: 1em;
}

.btn_rules {
  padding: 0.5em 1.5em;

  text-transform: uppercase;
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
  letter-spacing: 1.5px;

  border-color: var(--c-white);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
