@charset 'utf-8';

.game {
  width: 80%;
  height: 470px;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.new-game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
