@charset 'utf-8';
.triangle-countainer {
  position: relative;
  content: '';
  width: 100%;
  height: 100%;
}
.triangle {
  position: absolute;
  width: 200px;
  top: 30%;
  left: 17%;
}

.triangle-node {
  position: absolute;
  &__1 {
    bottom: 19%;
    left: 25%;
  }
  &__2 {
    top: 15%;
    left: -2%;
  }
  &__3 {
    top: 15%;
    right: -2%;
  }
}
